WCFwithSingleton.Cmd/Connected Services/WCFwithSingletonWS/IWCFwithSingletonWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WCFwithSingleton.ws.gonis.ru" elementFormDefault="qualified" targetNamespace="http://WCFwithSingleton.ws.gonis.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="TestRequest" nillable="true" type="tns:TestRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TestRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element name="MessageText" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TestRequest" nillable="true" type="tns:TestRequest" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element name="AuthenticationRequest" nillable="true" type="tns:AuthenticationRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="AuthenticationRequest">
    <xs:sequence>
      <xs:element name="UserId" nillable="true" type="xs:string" />
      <xs:element name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationRequest" nillable="true" type="tns:AuthenticationRequest" />
  <xs:element name="GetTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTestResult" nillable="true" type="tns:TestResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TestResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TestResponse" nillable="true" type="tns:TestResponse" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element name="ResponseInfo" nillable="true" type="tns:ResponseInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="ResponseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationResponse" nillable="true" type="tns:AuthenticationResponse">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResponseType" type="tns:ResponseType" />
      <xs:element minOccurs="0" name="ErrorText" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseInfo" nillable="true" type="tns:ResponseInfo" />
  <xs:complexType name="AuthenticationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationResponse" nillable="true" type="tns:AuthenticationResponse" />
  <xs:simpleType name="ResponseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Fail" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResponseType" nillable="true" type="tns:ResponseType" />
  <xs:element name="GetTestWithSingleton">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="TestRequest" nillable="true" type="tns:TestRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestWithSingletonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTestWithSingletonResult" nillable="true" type="tns:TestResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>